<div class="card-panel" [@cardState]="description?.version">
  <p class="flow-text" [@descriptionState]="description" *ngIf="description != null">
    {{description?.description}}
  </p>
  <form>
    <div class="input-field">
      <select id="gameVersion" name="gameVersion" [(ngModel)]="description" [@cardState]="description?.version">
        <option *ngFor="let description of descriptions" [ngValue]="description">
          {{description.version}}
        </option>
      </select>
    </div>
  </form>
</div>
